<div class="footer">
    <div class="footer-box">
      <div class="social">
        <a href='https://www.instagram.com/___e.d.d.y/' target="_blank"><img src="/images/instagram.png" alt='instagram' /></a>
        <a href='https://www.linkedin.com/in/eddy-mugisha-4b4a5219a/' target="_blank"><img src="/images/linkedin.png" alt='linkedin' /></a>
        
        <a href='https://www.linkedin.com/in/eddy-mugisha-4b4a5219a/' target="_blank"><img src="/images/twitter.png" alt='twitter' /></a>
        <a href='https://www.linkedin.com/in/eddy-mugisha-4b4a5219a/' target="_blank"><img src="/images/whatsapp.png" alt='whatsapp' /></a>
        <a href='' target="_blank"><img src="/images/gmail.png" alt='gmail' /></a>
      </div>
    </div>
    <div class="copyright">
      <p>All rights reserved by <a href="/home">EDCreation</a> 2023 &copy;</p>
    </div>
</div>
<style>
    .footer{
        height: 70px;
        display: flex;
        height: 70px;
        flex-direction: column;
        background: #000;
        justify-content: center;
        width: 100%;
      }
      .social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
      }
      .footer-box a:nth-child(2) {
        margin: 0 10px 0 10px;
      }
     .footer-box a:nth-child(3),.footer-box a:nth-child(4) {
        margin: 0 10px 0 0px;
      }
      .footer-box img{
        width: 20px;
        height: 20px;
      }
      .copyright{
        display: flex;
        color: #fff;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
      .copyright p{
        font-size: 10px;
      }
      .copyright p a {
        color: #00ebeb;
      }
</style>