<div id="error">
    <div class="loading-icon"><img src="images/loading.gif" alt="loading"></div>
</div>
<style>
    #error {
        width: 100%;
        height: 100%;
        top: 0;
        background: #000;
        color: #00DAE8;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 8; 
    }
    .error-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .error-icon img {
        width: 45px;
    }
</style>