<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/icon.png" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style-login.css">
    <script src="./navbar.js"></script>
</head>
<body>
    <%- include("./partials/navbar") %>
    <div class="login-container">
        <div class="container-box">
            <div class="left">
                <div class="lock">
                    <img src="./images/Lock.png" alt="Lock">
                </div>
            </div>
            <div class="right">
                <% if(pop != '') { %>
                    <% if(pop == 'Done!! Log In') { %>
                        <p id="pop-up"><%= pop %></p>
                        <script>
                            setTimeout(() => {
                                const pop = document.getElementById('pop-up')
                                pop.style.display="none";
                              }, 5000);
                        </script>
                    <% }  %>
                    <% if(pop == 'Failed!! Try Again') { %>
                        <p id="pop-up" style="background: rgb(139, 3, 3);"><%= pop %></p>
                        <script>
                            setTimeout(() => {
                                const pop = document.getElementById('pop-up')
                                pop.style.display="none";
                              }, 5000);
                        </script>
                    <% }  %>
                <% } %>
                <form action="/signup" method="post">
                    <div class="title">SIGN UP</div>
                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <input type="text" name="name" id="name" placeholder="New User Name" required>
                    <input type="password" name="pass" id="pass"  placeholder="New Password" required>
                    <button>Sign Up</button> <a href="/login">Log In</a>
                    
                </form>
            </div>
        </div>
    </div>
    <%- include("./partials/footer") %>
    
</body>
</html>